﻿body {
}

table {
    border: 1px solid black;
    border-collapse: collapse;
}

th {
    text-align: left;
    background: #CACDDB;
    padding: 5px;
    border: 1px solid black;
}

td {
    padding: 5px;
    min-width: 80px;
    border: 1px solid black;
    background: #FFFFFF;
}

.icon-down-dir {
    color:#FF0000;
    font-size:18px;
    float:right;
}

.icon-up-dir {
    color:#128200;
    font-size:18px;
    float:right;
}

.market-not-active{
    background-color: #D0D0D0;
    color:#A0A0A0;
}
