﻿<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link href="Content/StyleSheet.css" rel="stylesheet" />
    <link href="Content/fontello-06d834ea/css/fontello.css" rel="stylesheet" />

    <script src="Scripts/Angular/angular.min.js"></script>
    <script src="Scripts/Jquery/jquery-1.6.4.js"></script>
    <script src="Scripts/Jquery/jquery.signalR-2.2.0.min.js"></script>
    <script src="Scripts/app.js"></script>
    <script src="Scripts/controller.js"></script>
    <script src="Scripts/signalRService.js"></script>
    <script src="Scripts/marketService.js"></script>

</head>
<body ng-app="myApp" ng-controller="myCtrl">

    <table >
        <tr>
            <th>Show prices</th>
            <th>Market</th>
            <th>Bid</th>
            <th>Offer</th>
        </tr>

        <tr ng-repeat="market in markets " ng-class="{'market-not-active': !isMarketActive}">
            <td >
                <input type="checkbox" ng-model="isMarketActive"  ng-click="marketChecked(market, !isMarketActive )"/>
            </td>
            <td >{{ market.MarketName }}</td>
            <td >{{ market.Bid }}<span ng-class="market.Direction?'icon-up-dir':'icon-down-dir'" ng-show="isMarketActive"></span></td>
            <td >{{ market.Offer}}<span ng-class="market.Direction?'icon-up-dir':'icon-down-dir'" ng-show="isMarketActive"></span></td>
        </tr>
    </table>
</body>
</html>
